.hidden 
{
    display: none;
}

.greeting 
{
    margin-left: auto; margin-right: auto;
}

.weather {
    /* 중앙정렬 배치 용도 */
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* 가독성 높히기 */
    text-shadow: 0 0 3px #2d3436;
    font-family: 'Nova Flat', cursive;
    font-size: 200%;
    color: #dfe6e9;
}

body 
{
	height: 100vh;
    width: 100vw;
	background-repeat : no-repeat;
	background-size: cover;
}